body {
    background-color:aliceblue;
}

#topnav {
    background-color:mediumslateblue;
    margin-top: 0px;
    position: fixed;
    vertical-align: top;
    left: 0;
    top: 0;
    height: 7em;
    width: 100%;
    z-index: 100;
}

#content {
    position: relative;
    margin-top: 7em;
}